<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

  <suite name="Automation Suite"> 



   <test name="Login Test"> 


<parameter name="username" value="admin"/>
<parameter name="password" value="admin123"/>


<classes>
<class name="passparamater"/>

</classes>


</test>


</suite>
